mixin article()
  // article
  a(href="#").article
    span.article__img.article__img--height
      img(src="", alt="")
    span.article__content 
      span.article__title ITCOM и Loginom создали решение для углубленного анализа и оценки рисков при работе с контрагентами
      span.article__date 07.10.2020
  //	/article