mixin card()
  // card
  a(href="#").card
    span.card__img
      img(src="", alt="")
    span.card__content 
      span.card__text Онлайн-касса Эвотор 5i без фискального накопителя
      span.card__prices
        span.card__price-old 22 800
        span.card__price-new 20 300 
          span ₽
  //	/card