mixin card()
  // card
  .card
    .card__img.img-responsive
      img(src="", alt="")
    .card__content 
      .card__text Онлайн-касса Эвотор 5i без фискального накопителя
      .card__prices
        .card__price-old 22 800
        .card__price-new 20 300 
          span ₽
  //	/card