// footer
footer.footer
  // footer-menu
  .footer-menu
    .row 

      .footer-menu__col
        nav.footer-menu__nav
          .footer-menu__title Каталог
          ul.footer-menu__list 
            li
              a(href="#") Автономные кассы
            li
              a(href="#") Фискальные регистраторы 
            li
              a(href="#") Смарт-терминалы
            li
              a(href="#") Смарт-терминалы со встроенным эквайрингом
            li
              a(href="#") POS оборудование
            li
              a(href="#") Сканеры ШК
            li
              a(href="#") Принтеры ШК
            li
              a(href="#") Весы
            li
              a(href="#") Кассы для интернет магазина
            li
              a(href="#") Решения для бизнеса
            li
              a(href="#") Программное обеспечение
            li
              a(href="#") Маркировка

      .footer-menu__col
        .footer-menu__menu
          .footer-menu__title Решения для Вашего бизнеса
          ul.footer-menu__list
            li
              a(href="#") Для интернет магазина
            li
              a(href="#") Для магазина розничной торговли (мелкая розница, магазины у дома)
            li
              a(href="#") Для магазина розничной торговли (минимаркеты)
            li
              a(href="#") Для кафе/ресторанов
            li
              a(href="#") Для закусочной (фастфуд)
            li
              a(href="#") Для бара
            li
              a(href="#") Для салона красоты
            li
              a(href="#") Для автосервиса 
            li
              a(href="#") Для предоставления бытовых услуг

      .footer-menu__col 
        .footer-menu__menu
          .footer-menu__title Услуги
          ul.footer-menu__list
            li
              a(href="#") Ввод ККТ в эксплуатацию
            li
              a(href="#") Сопровождение Вашей ККТ
            li
              a(href="#") Программное обновление ККТ
            li
              a(href="#") Ремонт

        .footer-menu__menu
          .footer-menu__title Партнерство
          ul.footer-menu__list
            li
              a(href="#") Партнерство по кассовому оборудованию
            li
              a(href="#") Партнерство по решениям для интернет магазинов

      .footer-menu__col 
        .footer-menu__menu
          .footer-menu__title Мы в соцсетях
          ul.footer-menu__list
            li
              a(href="#") Instagram
            li
              a(href="#") Vkontakte
            li
              a(href="#") Facebook
            li
              a(href="#") WhatsApp

        .footer-menu__menu
          .footer-menu__title О компании
          ul.footer-menu__list
            li
              a(href="#") О нас
            li
              a(href="#") Контакты
            li
              a(href="#") Экспертные статьи
  //	/footer-menu

  // footer-bottom
  .footer-bottom
    .footer-bottom__row 

      ul.header-top__list.header-top__list--orange-hover
        li
          span 2020 © ООО «Айтиком Маркет»
        li
          a(href="#") Группа компании ITCOM
        
      ul.header-top__list.header-top__list--orange-hover
        li
          a(href="#") Правила использольвания
        li
          a(href="#") Политика конфиденциальности
        li
          a(href="#") Карта сайта
  //	/footer-bottom
// /footer