// header
header.header#header

	// .header-top
	.header-top
	
		nav.header-top__menu
			ul.header-top__list.header-top__list--gray-hover
				li
					a(href="#") ITCOM
				li
					a(href="#") CONSULT
				li
					a(href="#") SECURITY
				li
					a(href="#").active MARKET
				li
					a(href="#") ACADEMY
				li
					a(href="#") CLOUD

		ul.header-top__list.header-top__list--orange-hover
			li.header-top__city Санкт-Петербург
				//- ul.header-top__drop
				//- 	li
				//- 		a(href="#") Москва
				//- 	li
				//- 		a(href="#") Екатеринбург
				//- 	li
				//- 		a(href="#") Новосибирск
			li
				a(href="#") Точки выдачи
			li
				a(href="tel:88006004149") 8 800 600 41 49
	//	/.header-top

	// header-center
	.header-center

		a(href="#").header-center__logo
			img(src="img/logo.svg", alt="")

		.header-center__btn.btn
			img(src="img/subject.svg", alt="")
			span Каталог
			

		form(action="").header-center__search
			input(type="text" placeholder="Поиск по сайту, товарам и разделам")#search.header-center__input.input
			label(for="search").header-center__zoom
				img(src="img/zoom.svg", alt="")

		.header-center__menu
			ul.header-center__list
				li
					img(src="img/timer.svg", alt="")
					span Статус заказа
				li
					img(src="img/account.svg", alt="")
					span Войти
				li
					img(src="img/compare.svg", alt="")
					span Сравнение
				li
					img(src="img/favorite.svg", alt="")
					span Ибранное
				li
					img(src="img/cart.svg", alt="")
					span Корзина

		// catalog-drop
		//- .catalog-drop

			.catalog-drop__img-block 
				.catalog-drop__img
					img(src="", alt="")
				a(href="#").catalog-drop__btn Подробно о товаре

			.catalog-drop__content 

				.catalog-drop__col.catalog-drop__col--1

					.catalog-drop__menu
						.catalog-drop__title Каталог
						ul.catalog-drop__list 
							li Автономные кассы
							li Фискальные регистраторы 
							li Смарт-терминалы
							li Смарт-терминалы со встроенным эквайрингом
							li POS оборудование
							li Сканеры ШК
							li Принтеры ШК
							li Весы
							li Кассы для интернет магазина
							li Решения для бизнеса
							li Программное обеспечение
							li Маркировка

					.catalog-drop__menu
						.catalog-drop__title Услуги
						ul.catalog-drop__list
							li Ввод ККТ в эксплуатацию
							li Сопровождение Вашей ККТ
							li Программное обновление ККТ
							li Ремонт

				.catalog-drop__col.catalog-drop__col--2
				
					.catalog-drop__menu
						.catalog-drop__title Решения для Вашего бизнеса
						ul.catalog-drop__list
							li Для интернет магазина
							li Для магазина розничной торговли (мелкая розница, магазины у дома)
							li Для магазина розничной торговли (минимаркеты)
							li Для кафе/ресторанов
							li Для закусочной (фастфуд)
							li Для бара
							li Для салона красоты
							li Для автосервиса 
							li Для предоставления бытовых услуг

					.catalog-drop__menu
						.catalog-drop__title О компании
						ul.catalog-drop__list
							li О нас
							li Контакты
							li Экспертные статьи
					
					.catalog-drop__menu
						.catalog-drop__title Партнерство
						ul.catalog-drop__list
							li Партнерство по кассовому оборудованию
							li Партнерство по решениям для интернет магазинов
		//	/catalog-drop
		
	//	/header-center

	// header-bottom
	nav.header-bottom
		ul.header-bottom__list
			li
				a(href="#") Акции
			li
				a(href="#") Скидки
			li
				a(href="#") Новинки
			li
				a(href="#") Всё для маркировки
			li
				a(href="#") Рассрочка
		ul.header-bottom__list
			li
				a(href="#") О компании
			li
				a(href="#") Партнёрам
			li
				a(href="#") Доставка и оплата
			li
				a(href="#") Cервисный центр
			li
				a(href="#") Контакты
	//	/header-bottom

// /header