mixin item(text, title)
  // item
  a(href="#").item
    span.item__img.img-responsive
      img(src="", alt="")
    span.item__content 
      span.item__text= text
      span.item__title= title
  //	/item