extends blocks/base.jade

block title 
	title Каталог

block style-libs

include blocks/card.jade

block content

	.page.wrapper

		include blocks/header.jade
		
		main.content

			// banner-b
			.banner-b
				.banner-b__title
					p Бесплатная доставка по России от 5 000 ₽
					p Кассовое оборудование для вашего бизнеса
			//	/banner-b

			// catalog
			.catalog

				.catalog__head

					.catalog__checks 
						.catalog__check
							img(src="img/cross.svg", alt="").catalog__check-cross
							span.catalog__check-span Смарт-терминалы с эквайрингом
						.catalog__check
							img(src="img/cross.svg", alt="").catalog__check-cross
							span.catalog__check-span Маркировка
							
					form(action="").catalog__sort 

						.catalog__select

							.catalog__select-btn.js-select-sort(data-id="#sortDrop")
								span Сортировать
									span.catalog__select-btn-span по популярности
							.catalog__select-drop#sortDrop
								.catalog__select-drop-container
									.catalog__select-drop-row
										input#select-sort_0(type="radio" name="select-sort" checked)
										label(for="select-sort_0").catalog__select-drop-radio
										label(for="select-sort_0").catalog__select-drop-text По популярности
									.catalog__select-drop-row
										input#select-sort_1(type="radio" name="select-sort")
										label(for="select-sort_1").catalog__select-drop-radio
										label(for="select-sort_1").catalog__select-drop-text По возрастанию цены
									.catalog__select-drop-row
										input#select-sort_2(type="radio" name="select-sort")
										label(for="select-sort_2").catalog__select-drop-radio
										label(for="select-sort_2").catalog__select-drop-text По убыванию цены
									.catalog__select-drop-row
										input#select-sort_3(type="radio" name="select-sort")
										label(for="select-sort_3").catalog__select-drop-radio
										label(for="select-sort_3").catalog__select-drop-text По наименованию

						.catalog__view
							.catalog__view-btn.catalog__view-btn--list
								img(src="img/hamburger.svg", alt="")
							.catalog__view-btn.catalog__view-btn--tiles.active
								img(src="img/tile.svg", alt="")

				.catalog__body

					.catalog__menu.js-menu

						#menu-btn.catalog__menu-btn Фильтры

						form(action="").catalog__filters

							.catalog__menu-close#menu-close

							.catalog__input
								input#search_3(type="text" placeholder="Поиск по категории").input
								label(for="search_3").header-center__zoom
									img(src="img/zoom.svg", alt="")
									
							// accordeon
							.accordeon.js-accordeon

								.accordeon__box 
									.accordeon__trigger.js-accordeon-trigger Продуктовые категории
									.accordeon__drop.js-accordeon-drop
										.catalog__select-drop-container
											
											mixin accordeon-input(name, id, text, checked)
												.catalog__select-drop-row
													if checked
														input( id= id type="radio" name= name checked)
													else 
														input( id= id type="radio" name= name)
													label(for= id).catalog__select-drop-radio
													label(for= id).catalog__select-drop-text= text

											+accordeon-input('filter_category','filter_category_0', 'Автономные кассы', true)
											+accordeon-input('filter_category','filter_category_1', 'Фискальные регистраторы')
											+accordeon-input('filter_category','filter_category_2', 'Смарт терминалы')
											+accordeon-input('filter_category','filter_category_3', 'Смарт терминалы с эквайрингом')
											+accordeon-input('filter_category','filter_category_4', 'POS оборудование')
											+accordeon-input('filter_category','filter_category_5', 'Сканеры ШК')

								.accordeon__box 
									.accordeon__trigger.js-accordeon-trigger Соответствие законодательству
									.accordeon__drop.js-accordeon-drop
										.catalog__select-drop-container
											+accordeon-input('filter_legally','filter_legally_0', '54-ФЗ', true)
											+accordeon-input('filter_legally','filter_legally_1', 'ЕГАИС')
											+accordeon-input('filter_legally','filter_legally_2', 'Маркировка')

								.accordeon__box 
									.accordeon__trigger.js-accordeon-trigger Размер бизнеса
									.accordeon__drop.js-accordeon-drop
										.catalog__select-drop-container
											+accordeon-input('filter_size', 'filter_size_0', 'Малый', true)
											+accordeon-input('filter_size', 'filter_size_1', 'Средний')
											+accordeon-input('filter_size', 'filter_size_2', 'Крупный')

								.accordeon__box 
									.accordeon__trigger.js-accordeon-trigger Сфера применения
									.accordeon__drop.js-accordeon-drop
										.catalog__select-drop-container
											+accordeon-input('scope','scope_0', 'Интернет-магазин', true)
											+accordeon-input('scope','scope_1', 'Магазин розничной торговли')
											+accordeon-input('scope','scope_2', 'Минимаркет')
											+accordeon-input('scope','scope_3', 'Кафе и ресторан')
											+accordeon-input('scope','scope_4', 'Фастфуд')
											+accordeon-input('scope','scope_5', 'Бар')
											+accordeon-input('scope','scope_6', 'Салон красоты')
											+accordeon-input('scope','scope_7', 'Автосервис')

								.accordeon__box 
									.accordeon__trigger.js-accordeon-trigger Услуги
									.accordeon__drop.js-accordeon-drop
										.catalog__select-drop-container
											+accordeon-input('services','services_0', 'Аренда онлайн касс', true)
											+accordeon-input('services','services_1', 'Услуги по настройке')
											+accordeon-input('services','services_2', 'Сервис')

								.accordeon__box 
									.accordeon__trigger.js-accordeon-trigger Бренды
									.accordeon__drop.js-accordeon-drop
										.catalog__select-drop-container
											+accordeon-input('brands','brands_0', 'Атол', true)
											+accordeon-input('brands','brands_1', 'Эвотор')
											+accordeon-input('brands','brands_2', 'Штрих М')
											+accordeon-input('brands','brands_3', 'Дримкас')
											+accordeon-input('brands','brands_4', 'МТС')

								.accordeon__box 
									.accordeon__trigger.js-accordeon-trigger Дополнительно
									.accordeon__drop.js-accordeon-drop
										.catalog__select-drop-container
											+accordeon-input('more','more_0', 'Без ФН', true)
											+accordeon-input('more','more_1', 'С ФН на 15 месяцев')
											+accordeon-input('more','more_2', 'С ФН на 36 месяцев')

								.accordeon__box 
									.accordeon__trigger.js-accordeon-trigger Товар по акции
									.accordeon__drop.js-accordeon-drop
										.catalog__select-drop-container
											+accordeon-input('sale','sale_0', 'Да', true)
											+accordeon-input('sale','sale_1', 'Нет')
							// /accordeon

							// filter-price
							.filter-price
								.filter-price__title Стоимость
								.filter-price__row
									.filter-price__col
										input(type="text" placeholder="От").filter-price__input.input
									.filter-price__col
										input(type="text" placeholder="До").filter-price__input.input
								.filter-price__btn
									button(type="submit").btn Применить фильтры
							//	/filter-price

					.catalog__cards
						.row
							.catalog__col
								+card
							.catalog__col
								+card
							.catalog__col
								+card
							.catalog__col
								+card
							.catalog__col
								+card
							.catalog__col
								+card
							.catalog__col
								+card
							.catalog__col
								+card
							.catalog__col
								+card
							.catalog__col
								+card
							.catalog__col
								+card
							.catalog__col
								+card

						.catalog__btn-more 
							a(href="#").catalog-more-btn Показать еще товары

						// feedback
						form(action="").feedback
							h2.title.title--center Затрудняетесь с подбором кассовой техники?
							.feedback__text Мы предложим вам оптимальное решение!
							.feedback__row 
								input(type="text" placeholder="Имя" name="name").feedback__input.feedback__input--maw.input
								input(type="text" placeholder="Телефон" name="tel").feedback__input.feedback__input--maw.input
								.btn Отправить заявку
						//	/feedback
						
			//	/catalog
				
		include blocks/footer.jade

block js-libs
	script(src="js/libs/jquery.min.js")