extends blocks/base.jade

block title 
	title Главная

block style-libs
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")
	//- link(rel="stylesheet", href="css/libs/aos.css")

include blocks/card.jade
include blocks/item.jade
include blocks/icon.jade

block content

	.page.wrapper

		include blocks/header.jade
		
		main.content

			// welcome
			.welcome
				.row
				
					.welcome__col.welcome__col--1
						.welcome__slider.welcome__slider--banner.js-slider-1
							// banner
							.banner
								.banner__content 
									.banner__title Онлайн-касса<br>под ключ
									.banner__text Регистрация. Подключение. Настройка.
									.banner__subtext
										p Наши эксперты подберут подходящую кассу для вашего бизнеса.
										p Гарантия соответствия 54-ФЗ — 100%
									.btn Выбрать кассу под ключ
							//	/banner
							// banner
							.banner
								.banner__content 
									.banner__title Онлайн-касса<br>под ключ
									.banner__text Регистрация. Подключение. Настройка.
									.banner__subtext
										p Наши эксперты подберут подходящую кассу для вашего бизнеса.
										p Гарантия соответствия 54-ФЗ — 100%
									.btn Выбрать кассу под ключ
							//	/banner
							// banner
							.banner
								.banner__content 
									.banner__title Онлайн-касса<br>под ключ
									.banner__text Регистрация. Подключение. Настройка.
									.banner__subtext
										p Наши эксперты подберут подходящую кассу для вашего бизнеса.
										p Гарантия соответствия 54-ФЗ — 100%
									.btn Выбрать кассу под ключ
							//	/banner

					.welcome__col.welcome__col--2
						.welcome__slider-container
							.welcome__slider.welcome__slider--card.js-slider
								+card
								+card
								+card
							.slider-arrow.slider-arrow--prev
								img(src="img/arrow.svg")
							.slider-arrow.slider-arrow--next
								img(src="img/arrow.svg")
			//	welcome

			// sales
			.sales
				.title.title--center Актуальные акции
				.row 
					.sales__col
						+item('При покупке кассы в ITCOM Market','Электронная подпись со скидкой 30%')
					.sales__col
						+item('При заказе от 10 000 руб','Бесплатная доставка')
					.sales__col
						+item('Хотите узнать больше, как','Купить в рассрочку онлайн-кассу')
					.sales__col
						+item('При заказе от 5-ти касс Эвотор','Установка и настройка кассы в подарок')
			//	/sales

			// services
			.services
				.title-flex
					.title Решения для вашего бизнеса
					a(href="#").more-btn Все решения
				.row 
					.services__col
						+icon('Интернет-магазин')
					.services__col
						+icon('Магазин розничной торговли')
					.services__col
						+icon('Минимаркет')
					.services__col
						+icon('Кафе и ресторан')
					.services__col
						+icon('Фастфуд')
					.services__col
						+icon('Бар')
					.services__col
						+icon('Салон красоты')
					.services__col
						+icon('Автосервис')
			//	/services

			// services
			.services
				.title-flex
					.title Услуги для бесперебойной работы ККТ
					a(href="#").more-btn Смотреть все услуги
				.row 
					.services__col
						+item('Услуга','Ввод ККТ в эксплуатацию')
					.services__col
						+item('Услуга','Сопровождение вашей ККТ')
					.services__col
						+item('Услуга','Программное обновление ККТ')
					.services__col
						+item('Услуга','Ремонт ККТ')
			//	/services

			// popular
			.popular
				.title-flex
					.title Популярные товары
					a(href="#").more-btn Все товары
				// slider-cards
				.slider-cards

					.js-slider
						+card
						+card
						+card
						+card
						+card
						+card
					.slider-arrow.slider-arrow--prev
						img(src="img/arrow.svg")
					.slider-arrow.slider-arrow--next
						img(src="img/arrow.svg")
				//	/slider-cards
			//	/popular
			
		include blocks/footer.jade

block js-libs
	script(src="js/libs/jquery.min.js")
	//- script(src="js/libs/jquery.fancybox.min.js")
	script(src="js/libs/slick.min.js")
	//- script(src="js/libs/jquery.matchHeight-min.js")
	//- script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="js/libs/aos.js")
	//- script(src="js/libs/circle-progress.min.js")
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")