extends blocks/base.jade

block title 
	title Навигация по страницам

block style-libs

block content

	.page.wrapper

		include blocks/header.jade
		
		main.content

			.navPage
				.title Навигация по страницам
				ul.navPage__list
					li
						a(href="home.html") Главная
					li
						a(href="catalog.html") Каталог
					li
						a(href="inner-page.html") Внутренняя страница 1
					li
						a(href="inner-page_2.html") Внутренняя страница 2
					li
						a(href="inner-page_3.html") Внутренняя страница 3
					li
						a(href="inner-page_4.html") Внутренняя страница 4
			
		include blocks/footer.jade

block js-libs
	script(src="js/libs/jquery.min.js")