.article {
  display: block;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 24px;
  box-shadow: $shadow;
  overflow: hidden;
  color: $black;
  transition: 0.5s;
  span {
    display: block;
  }
  &__img {
    height: 272px;
    background-color: $yellow;
    overflow: hidden;
    &--height {
      height: 165px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $trans;
    }
  }
  &__content {
    padding: 32px;
  }
  &__title {
    max-height: 45px;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
    font-weight: bold;
    transition: $trans;
  }
  &__date {
    font-size: 12px;
    color: $gray;
  }
  &:hover {
    .article__title {
      color: $orange;
    }
    .article__img {
      img {
        transform: scale(1.1);
      }
    }
  }
  &__list {
    padding-left: 10px;
  }
  &__item {
    font-size: 16px;
    line-height: 1.38;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      background-color: $black;
      border-radius: 100%;
      position: absolute;
      top: 8px;
      left: -10px;
    }
  }
  &--second {
    .article__content {
      padding: 32px 32px 16px;
    }
    .article__title {
      max-height: none;
      font-size: 20px;
      margin-bottom: 16px;
    }
    .article__list {
      margin-bottom: 16px;
    }
  }
  &--third {
    display: flex;
    .article__img {
      width: 200px;
      height: auto;
      min-height: 150px;
      flex-shrink: 0;
    }
    .article__content {
      display: flex;
      align-items: center;
      flex-grow: 1;
      padding: 32px 32px 22px;
    }
    .article__title {
      margin-bottom: 10px;
    }
  }
  &:hover {
    border-color: #e6e6e6;
    box-shadow: none;
  }
  @media (max-width: $break_xs) {
    &--third {
      .article__img {
        width: 100px;
        min-height: 100px;
      }
      .article__content {
        padding: 16px 16px 6px;
      }
    }
  }
} 