.feedback {
  margin-bottom: 30px;
  .title {
    margin-bottom: 50px;
  }
  &__text {
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    &--equal {
      .btn {
        flex-grow: 1;
      }
    }
  }
  &__col {
    @include col(4);
  }
  &__input {
    flex-grow: 1;
    margin-left: 16px;
    margin-bottom: 16px;
    background-color: #FAFAFA;
    &--maw {
      max-width: 207px;
    }
  }
  .btn {
    margin-left: 16px;
    margin-bottom: 16px;
  }
  &--catalog {
    .title {
      margin-bottom: 20px;
    }
  }
  @media (max-width: $break_sm) {
    &__row {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
    &__input {
      width: 100%;
      max-width: none;
      margin-left: 0;
    }
    .btn {
      width: 100%;
      margin-left: 0;
    }
  }
}