.footer-menu {
  margin-bottom: 15px;
  &__nav {
    
  }
  .row {
    flex-wrap: nowrap;
  }
  &__col {
    flex-grow: 1;
    margin-bottom: 20px;
  }
  &__menu {
    margin-bottom: 8px;
  }
  &__title {
    font-size: 20px;
    color: $gray;
    margin-bottom: 10px;
    user-select: none;
  }
  &__list {
    li {
      margin-bottom: 5px;
    }
    a {
      color: $black;
      &:hover {
        color: $orange;
      }
    }
  }
  @media (max-width: $break_md) {
    display: none;
  }
}