.header-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  &__logo {
    margin-left: 15px;
    margin-right: 30px;
    svg {
      fill: $orange;
      transition: $trans;
    }
    &:hover {
      svg {
        fill: $orangeHover;
      }
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    svg {
      margin-right: 10px;
    }
  }
  &__search {
    margin: 0 16px;
    flex-grow: 1;
    position: relative;
  }
  &__input {
    width: 100%;
    padding: 0 50px 0 24px;
    border-color: #e6e6e6;
    transition: $trans;
  }
  &__menu {
    
  }
  &__list {
    display: flex;
    margin-left: -16px;
    margin-right: -16px;
    li {
      margin: 0 16px;
      text-align: center;
      cursor: pointer;
      transition: $trans;
      white-space: nowrap;
      color: $gray;
      span {
        display: block;
        user-select: none;
      }
      svg {
        fill: $gray;
        transition: $trans;
        margin-bottom: 5px;
      }
      &:hover {
        color: $orange;
        svg {
          fill: $orange;
        }
      }
    }
  }
  &__zoom {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 13px;
    right: 24px;
  }
  @media (max-width: $break_md) {
    &__list {
      justify-content: center;
      margin-bottom: 10px;
      li {
        margin-bottom: 20px;
      }
    }
    &__btn {
      order: 3;
    }
  }
  @media (max-width: $break_sm) {
    &__search {
      margin-bottom: 30px;
    }
    &__list {
      flex-wrap: wrap;
      li {
        margin: 0 10px 20px;
      }
    }
  }
  @media (max-width: $break_xs) {
    &__list {
      font-size: 12px;
      li {
        margin: 0 5px 20px;
      }
    }
  }
}