.sales {
  margin-bottom: 35px;
  .title {
  }
  &__col {
    @include col(4);
    @include col-md(8);
    @include col-xs(16);
    margin-bottom: $gutter;
  }
  .more-btn {
    display: none;
  }
  @media (max-width: $break_xs) {
    .row {
      margin-bottom: 16px;
    }
    &__col {
      &:not(:nth-child(-n+2)) {
        display: none;
      }
    }
    .more-btn {
      display: block;
    }
  }
}