.selection {
  min-height: 273px;
  padding: 56px;
  background-image: url();
  background-color: $yellow;
  border-radius: 24px;
  margin-bottom: 55px;
  &__title {
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 15px;
  }
  &__text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    .btn {
      margin-left: 16px;
      margin-bottom: 10px;
    }
  }
  &__select {
    width: 207px;
    padding: 14px 35px 15px 16px;
    margin-bottom: 10px;
    margin-left: 16px;
    transition: $trans;
    color: $gray;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    &:after {
      content: '';
      display: block;
      width: 12px;
      height: 8px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3E%3Cpath id='ic_expand_more_24px' d='M16.59,8.59,12,13.535,7.41,8.59,6,10.112l6,6.478,6-6.478Z' transform='translate(-6 -8.59)' fill='%23979797'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    &:hover {
      .selection__drop {
        opacity: 1;
        transform: translate(0,0);
        visibility: visible;
      }
      .selection__list {
        border-color: $orange;
      }
    }
  }
  &__drop {
    min-width: 100%;
    padding-top: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    transform: translate(0, 50px);
    transition: 0.5s, border-color 0.3s;
    visibility: hidden;
    z-index: 2;
  }
  &__list {
    padding: 15px 16px 5px;
    background-color: #fff;
    border: 1px solid #ababab;
    border-radius: 12px;
    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      &:hover {
        .selection__checkbox {
          border-color: $orange;
        }
        .selection__label-text {
          color: $orange;
        }
      }
    }
    input {
      display: none;
      &:checked {
        + .selection__checkbox {
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20px' height='20px' viewBox='0 0 352.62 352.62' style='enable-background:new 0 0 352.62 352.62;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M337.222,22.952c-15.912-8.568-33.66,7.956-44.064,17.748c-23.867,23.256-44.063,50.184-66.708,74.664 c-25.092,26.928-48.348,53.856-74.052,80.173c-14.688,14.688-30.6,30.6-40.392,48.96c-22.032-21.421-41.004-44.677-65.484-63.648 c-17.748-13.464-47.124-23.256-46.512,9.18c1.224,42.229,38.556,87.517,66.096,116.28c11.628,12.24,26.928,25.092,44.676,25.704 c21.42,1.224,43.452-24.48,56.304-38.556c22.645-24.48,41.005-52.021,61.812-77.112c26.928-33.048,54.468-65.485,80.784-99.145 C326.206,96.392,378.226,44.983,337.222,22.952z M26.937,187.581c-0.612,0-1.224,0-2.448,0.611 c-2.448-0.611-4.284-1.224-6.732-2.448l0,0C19.593,184.52,22.653,185.132,26.937,187.581z' fill='%230db14b'/%3E%3C/g%3E%3C/svg%3E%0A");
          border-color: #0db14b;
        }
      }
    }
  }
  &__checkbox {
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid #ababab;
    border-radius: 3px;
    cursor: pointer;
    transition: $trans;
    flex-shrink: 0;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__label-text {
    cursor: pointer;
    user-select: none;
    transition: $trans;
  }
  @media (max-width: $break_sm) {
    &__title {
      font-size: 32px;
    }
    &__form {
      .btn {
        width: 100%;
      }
    }
    &__select {
      width: 100%;
    }
  }
  @media (max-width: $break_xs) {
    padding: 30px 16px;
  }
}