/* settings */
html {
  height: 100%;
}
a {
  transition: $trans;
  text-decoration: none;
}
button,
input,
textarea {
  font-family: "RobotoCondensed", sans-serif;
  font-size: 14px;
}
body {
  height: 100%;
  min-width: 319px;
  background-color: #fff;
  font-family: "RobotoCondensed", sans-serif;
  font-size: 14px;
  color: $black;
  &.lock {
    position: fixed;
  }
}
.mobile-hide {
  @media (max-width: $break_sm) {
    display: none !important;
  }
}
.mobile-visible {
  @media (min-width: $break_sm + 1) {
    display: none !important;
  }
}
.tablet-hide {
  @media (max-width: $break_md) {
    display: none !important;
  }
}
.tablet-visible {
  @media (min-width: $break_md + 1) {
    display: none !important;
  }
}
.img-responsive {
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.row {
  @include row-flex();
}
.wrapper {
  @include wrapper();
}
*:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}
*::placeholder {
  color: #a9a9a9;
  opacity: 1;
}
.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.content {
  flex-grow: 1;
  padding: 12px 0;
}
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px 24px 15px 24px;
  background-color: $orange;
  border: none;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(230,81,0,.4);
  transition: $trans;
  user-select: none;
  white-space: nowrap;
  &:hover {
    box-shadow: none;
    background-color: $orangeHover;
  }
}
.input {
  height: 48px;
  padding: 0 24px;
  border: 1px solid #ababab;
  background-color: #fff;
  border-radius: 12px;
  &::placeholder {
    color: $gray;
  }
  &:hover, &:focus {
    border-color:$orange;
  }
}
.slider-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: $shadow;
  cursor: pointer;
  transition: $trans;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  z-index: 2;
  svg {
    fill: $black;
    transition: $trans;
  }
  &--prev {
    left: -30px;
    svg {
      transform: rotate(180deg);
    }
  }
  &--next {
    right: -30px;
  }
  &:hover {
    background-color: $orange;
    svg {
      fill: #fff;
    }
  }
  &.slick-disabled {
    opacity: 0;
  }
  @media (max-width: $break_sm) {
    &--prev {
      left: -10px;
    }
    &--next {
      right: -10px;
    }
  }
}
.title {
  font-size: 40px;
  font-weight: 300;
  color: $gray;
  &--center {
    text-align: center;
  }
}
.title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
  @media (max-width: $break_sm) {
    flex-wrap: wrap;
    .title {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
.more-btn {
  padding: 14px 24px 15px;
  margin-left: 16px;
  border: 1px solid #E6E6E6;
  border-radius: 24px;
  color: $orange;
  transition: $trans;
  user-select: none;
  white-space: nowrap;
  &:hover {
    background-color: #F5F5F5;
  }
  @media (max-width: $break_sm) {
    margin-left: auto;
  }
}
.stock {
  background-color: #FE7200;
}
.sale {
  background-color: #E30510;
}
.new {
  background-color: #52CE00;
}
.best {
  background-color: #FFC000;
}
.mark {
  background-color: #B9D400;
}
.sale-b {
  background-color: #E30574;
}
.choice {
  background-color: #7D1A73;
}
.credit {
  background-color: #0080FF;
}
.month {
  background-color: #0033FF;
}
/* /settings */