/* settings */
html {
  height: 100%;
}
a {
  transition: $trans;
  text-decoration: none;
}
button,
input,
textarea {
  font-family: "RobotoCondensed", sans-serif;
  font-size: 14px;
}
body {
  height: 100%;
  min-width: 319px;
  background-color: #fff;
  font-family: "RobotoCondensed", sans-serif;
  font-size: 14px;
  color: #333;
  &.lock {
    position: fixed;
  }
}
.mobile-hide {
  @media (max-width: $break_sm) {
    display: none !important;
  }
}
.mobile-visible {
  @media (min-width: $break_sm + 1) {
    display: none !important;
  }
}
.img-responsive {
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.row {
  @include row-flex();
}
.wrapper {
  @include wrapper();
}
*:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}
*::placeholder {
  color: #a9a9a9;
  opacity: 1;
}
.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex-grow: 1;
  padding: 12px 0;
}
.btn {
  display: inline-block;
  padding: 14px 24px 15px 24px;
  background-color: $orange;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(230,81,0,.4);
  transition: $trans;
  &:hover {
    box-shadow: none;
    background-color: $orangeHover;
  }
}
.input {
  height: 48px;
  padding: 0 24px;
  border: 1px solid #ababab;
  border-radius: 12px;
  &::placeholder {
    color: $gray;
  }
}
.slick-slider {
  &:hover {
    .slider-arrow {
      opacity: 1;
      &.slick-disabled {
        opacity: 0;
      }
    }
  }
}
.slider-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: $shadow;
  cursor: pointer;
  transition: $trans;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  z-index: 2;
  opacity: 0;
  svg {
    fill: #333;
    transition: $trans;
  }
  &--prev {
    left: 48px;
    svg {
      transform: rotate(180deg);
    }
  }
  &--next {
    right:48px;
  }
  &:hover {
    background-color: $orange;
    svg {
      fill: #fff;
    }
  }
  &.slick-disabled {
    opacity: 0;
  }
}
/* /settings */