.slider-cards {
  position: relative;
  .slick-list {
    padding: 0 20px 20px;
    margin-left: -30px;
    margin-right: -30px;
  }
  .slick-track {
    display: flex;
  }
  .slick-slide {
    height: auto;
    padding: 0 8px;
    opacity: 0;
    transition: $trans;
    > div {
      height: 100%;
    }
    .card {
      height: 100%;
    }
  }
  .slick-active {
    opacity: 1;
  }
  .slider-arrow {
    &--prev {
      left: -30px;
    }
    &--next {
      right: -30px;
    }
  }
}