.welcome {
  margin-bottom: 54px;
  .row {
  }
  &__col {
    &--1 {
      @include col(12);
    }
    &--2 {
      @include col(4);
    }
  }
  &__slider-container {
    height: 100%;
    position: relative;
    &:hover {
      .slider-arrow {
        opacity: 1;
        &.slick-disabled {
          opacity: 0;
        }
      }
    }
  }
  &__slider {
    height: 100%;
    &--card {
      box-shadow: $shadow;
      border: 1px solid transparent;
      border-radius: 24px;
      transition: 0.5s;
      .slick-slide {
        opacity: 0;
        transition: $trans;
        &.slick-active {
          opacity: 1;
        }
      }
      .card {
        box-shadow: none;
        border: none;
      }
      &:hover {
        border-color: #e6e6e6;
        box-shadow: none;
      }
    }
    &--banner {
      .slider-arrow {
        &--prev {
          left: 20px;
        }
        &--next {
          right: 20px;
        }
      }
    }
    .slick-list {
      height: 100%;
    }
    .slick-track {
      height: 100%;
    }
    .slick-slide {
      height: 100%;
      opacity: 0;
      transition: 0.5s;
      &.slick-active {
        opacity: 1;
      }
      > div {
        height: 100%;
      }
      .banner, .card {
        height: 100%;
      }
    }
  }
  @media (max-width: $break_md) {
    &__col {
      &--1 {
        width: 100%;
      }
      &--2 {
        display: none;
      }
    }
  }
  @media (max-width: $break_sm) {
    &__slider {
      &--banner {
        .slider-arrow {
          &--prev {
            left: -15px;
          }
          &--next {
            right: -15px;
          }
        }
      }
    }
  }
}